@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body {
  font-family: "Open Sans", sans-serif;
}
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}
.welcome-header__text {
  width: 70%;
  opacity: 50%;
}
#login-form {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
#login-form input {
  padding: 15px 0px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: border-color 0.5s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
