.find-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  margin-bottom: 20px;
  font-size: 20px;
}
.find-icons__icon span {
  font-size: 15px;
}
.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0px;
  margin: 10px 0px;
}
.recommended-friends h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.recommended-friends span {
  display: block;
  text-align: center;
  margin: 80px 0px;
  color: rgba(0, 0, 0, 0.5);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 10px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-size: 18px;
  font-weight: 600;
}
.open-post__hashtags {
  font-size: 15px;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 10px 0px;
}
.open-post__member {
  display: flex;
  align-items: center;
}
.open-post__member img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.open-post__member-count {
  opacity: 0.5;
  margin: 0 10px;
}
.open-post__member .divider {
  width: 2px;
  height: 10px;
  background-color: black;
  opacity: 0.3;
}
.open-post__member-status {
  color: pink;
  margin-left: 10px;
  font-weight: 600;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__photo div {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
}
